.component {
    -fx-position: relative;
    -fx-background-color: #111;
    -fx-border-color: #000;
    -fx-border-width: 3;
}

.component Label, .component RadioButton {
    -fx-text-fill: #DDD;
}

.component .pane {
    -fx-position: relative;
    -fx-background-color: #000;
    -fx-border-radius: 5;
}

.component .title {
    -fx-position: relative;
    -fx-color: white;
}

.component .ports {
    -fx-text-alignment: center;
}

.component .ports .input {
    -fx-position: relative;
}

.component .ports .output {
    -fx-position: relative;
}

.rotation-dial {
    -fx-background-radius: 100;
}

.rotation-handle {
    -fx-background-color: darkgrey;
    -fx-background-insets: 14 5 14 23, 15 6 15 24;
    -fx-background-radius: 20, 20;
}