.component {
    -fx-background-color: #111;
    -fx-border-color: #000;
    -fx-border-width: 3;
}

.component Label, .component RadioButton {
    -fx-text-fill: #DDD;
}

.rotation-dial {
    -fx-background-radius: 100;
    -fx-background-color: white;
}

.rotation-handle {
    -fx-background-color: darkgray;
    -fx-background-insets: 17 1 17 22;
    -fx-background-radius: 5;
}
